input {
    padding: 8px 12px;
    padding-right: 20px;
    outline: none;
    color: #eee !important;
    background: none;
    border: none;
    border-bottom: 3px solid black;
    transition: all .1s ease-in-out;

    &::placeholder {
        color: rgba(255,255,255,.8);
    }

    &:focus {
        border-bottom: 5px solid black;
    }
}